.adp-container-green{
  background-color: rgb(84, 173, 147);
}
.adp-container-blue{
  background-color: rgb(55, 55, 83);
}
.adp-container-darkblue{
  background-color: darkblue;
}
.adp-row-blue{
  background-color: rgb(55, 55, 83);
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}

.adp-ta-center{
  text-align: center;
}

.adp-text-white{
  color: white;
}
.adp-text-blue{
  color: rgb(55, 55, 83);
  text-align: center;
}
.adp-margin-ta{
  text-align: center;
  margin-bottom: 20px;
}

.adp-text-space{
  color: white;
  text-transform: uppercase;
}

.adp-text-about{
  margin-bottom: 20px;
  font-size: 18px;
}

.adp-text-font{
  font-size: 15px;
}

.adp-text-right{
  text-align: right;
}

/* CONTAINER IMMAGINI */
.container-w95{
  width: 95%;
  margin: auto;
}
.container-w80{
  width: 80%;
  margin: auto;
  padding: 20px;
}

.adp-color-img-1{
 background-color: rgb(179, 70, 70);
 border-radius: 10px;
}

.adp-color-img-2{
  background-color: mediumturquoise;
  border-radius: 10px;
 }

 .adp-color-img-3{
  background-color: black;
  border-radius: 10px;
 }

 .adp-color-img-4{
  background-color: lightblue;
  border-radius: 10px;
 }

 .adp-color-img-5{
  background-color: rgb(47, 47, 150);
  border-radius: 10px;
 }
 .adp-color-img-6{
  background-color: rgb(151, 146, 137);
  border-radius: 10px;
 }

 /* FORM */
.adp-form-text{
  color: rgb(55, 55, 83);
  margin-bottom: 10px;
  border-bottom: 1px solid lightslategray;
}


/* Risoluzione XS */
@media all and (max-width: 767px){
  
  .adp-text-space-xs{
    height: 100px;
    font-size: 40px;
    margin-top: 10px;
    color: white;
  }

  .adp-img-space-xs{
    height: 200px;
    margin-top: 30px;
    background-color: white;
  }
  .adp-xs-tal{
    text-align: left;
  }
  .adp-xs-margin-padding{
    padding: 0;
    margin: 0;
  }
  
  /* Container Immagini */
  .adp-image-xs{
    height: 250px;
    margin-bottom: 25px;
  }
  .container-xs-pad{
    padding: 40px 20px;
  }
  .adp-xs-footer{
    height: 80px;
    line-height: 80px;
  }
}
/* Risoluzione SM */
@media all and (min-width: 768px){
  .adp-img-space-sm{
    height: 300px;
    background-color: white;
    margin: 30px auto;
  }
}
/* Risoluzione MD */
@media all and (min-width: 992px){

}
/* Risoluzione  LG*/
@media all and (min-width: 1170px){

}