html{
  scroll-behavior: smooth;
}

/* COLORS */
.adp-bg-green{
  background-color: #4ecfa6;
}
.adp-text-white{
  color:white;
}
.adp-text-blue{
   color: #1f2d42;
}
.adp-text-green{
  color: seagreen;
}
/* list */
.adp-ul li{
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
.adp-ul li a{
  text-decoration: none;
  color: white;
}

/* Button */
.adp-btn-xs{
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 4px;
  color: white;
}
.adp-btn-download{
  margin-top: 25px;
  background-color: #4ecfa6;
}
.adp-btn-download a{
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 3px;
}
.adp-btn-send a{
  border-radius: 4px;
  padding: 8px 8px;
  border: 1px solid white;
  color: white;
}

/* Margin and Padding */

.adp-padding-30{
  padding: 30px 0;
}
.adp-padding-80{
  padding: 20px 0px 30px 0px;
}
.adp-margin-bottom-20{
  margin-bottom: 20px;
}




.adp-wrapper-60{
  width: 60%;
  margin: 0 auto;
}
.adp-header-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  line-height: 80px;
  height: 80px;
  color: white;
  background-color: #1f2d42;
}

.adp-header-bottom{
  margin-top: 80px;
  min-height: 300px;
}

.adp-jumbotron{
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}

.adp-box{ /* momentaneo */
  margin-bottom: 15px;
}

.adp-footer-top{
  background-color: #384f75;
}

.adp-footer-bottom{
  background-color: #1f2d42;
}

/* TEXT */
.adp-font-size{
  font-size: 150%;
}

.adp-text-min-width{
   font-size: 270%;
   font-weight: 600;
}

/* riga satanica */

.adp-star{
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.adp-line{
  display: inline-block;
  width: 40px;
  margin: 5px; 
}

.adp-border-white{
  border-bottom: 1px solid white;
}

.adp-border-blue{
  border-bottom: 1px solid #1f2d42;
}

/* img */
.adp-box img{
  width: 100%;
  border-radius: 10px;
}

.adp-input{
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(221, 224, 228);
  line-height: 40px;
  width: 100%;
  resize: none;
}
.adp-radius{
  display: inline-block;
  
}
.adp-radius i{
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin: 0 5px;
}